{%  extends "layout/basic.html" %}
{% load static %}
{% block main %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="wrapper-create">
            <div class="container-xxl text-center">
                <div class="create-add-title"><span><strong> Публикация объявления </strong> </span></div>
            </div>
            <div class="container-xxl text-left">
                <div class="row"><span class="create-title">Категория </span> {{ form.rubric }}</div>
                <div class="row"><span class="create-title">Название </span> {{ form.title }}</div>
                <div class="row"><span class="create-title">Введите текста объявления: <br> </span> {{ form.content }}
                </div>
                <!-- <div class="row"><span class="create-title">Цена </span> {{ form.price }}</div> -->
                <div class="row"><span class="create-title">Контактная информация </span> {{ form.phone }}</div>
                <div class="row"><span class="create-title">Изображение </span> {{ form.image }}</div>

                <div class="container-xxl text-center">
                    <div class="button-create">
                        <button type="submit" class="btn btn-outline-success btn-sm"> Разместить объявление </button>
                    </div>
                </div>
            </div>

        </div>
</form>

{% endblock %}
