{%  extends "layout/basic.html" %}
{% block content %}
{% for bb in bbs %}
<!--<div class="container-fluid">
  <div class="row">
    <div class="product-card col-xs-12 col-sm-6 col-md-9 col-lg-0">
        <h2>{{ bb.title }}</h2>
        <img src="{{ bb.image.url}}" width='520' height='420' >
    <p>{{ bb.content }}</p>
   {% comment %}don't worked <p><a href="{% url 'by_rubric' bb.rubric.pk %}">
        {{ bb.content.name }}</a> </p>{% endcomment %}
    <p>{{ bb.published|date:"d.m.Y H:i" }} Контактный номер: {{ bb.phone }} {{bb.owner_user.username}} </p>
    </div>
  </div>
</div>-->
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                       <div class="card-name"> {{ bb.title }} </div>
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        {% comment %}don't worked <p><a href="{% url 'by_rubric' bb.rubric.pk %}">
                        {{ bb.content.name }}</a> </p>{% endcomment %}
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}

{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}
{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}{% for bb in bbs %}
<div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                <div class="card">
                    <div class="card-label">{{ bb.rubric }}</div>
                    <div class="card-photo" style="background-image: url({{ bb.image.url}});" ></div>
                    <div class="card-body">
                        <h4>{{ bb.content.name }}</h4>
                        <p>{{ bb.content }}</p>
                        <p>Автор объявления: {{bb.owner_user.username}}</p>
                        <p>Контактный номер: {{ bb.phone }}</p>
                        <p>Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}  </p>
                        <a class="btn btn-primary" href="#">Learn More</a>
                    </div>
                </div>
            </div>

{% endfor %}
{% endblock %}