{%  extends "layout/basic.html" %}
{% block content %}
{% for bb in bbs %}
<!--<div class="container-fluid">
  <div class="row">
    <div class="product-card col-xs-12 col-sm-6 col-md-9 col-lg-0">
        <h2>{{ bb.title }}</h2>
        <img src="{{ bb.image.url}}" width='520' height='420' >
    <p>{{ bb.content }}</p>
   {% comment %}don't worked <p><a href="{% url 'by_rubric' bb.rubric.pk %}">
        {{ bb.content.name }}</a> </p>{% endcomment %}
    <p>{{ bb.published|date:"d.m.Y H:i" }} Контактный номер: {{ bb.phone }} {{bb.owner_user.username}} </p>
    </div>
  </div>
</div>-->

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <div class="card" style="width: 22rem;">
        <div class="card-body">
            <img src="{{ bb.image.url}}" class="card-img-top" style="width:19rem;">
            <div class="card-body">
                <h5 class="card-title">{{ bb.title }}</h5>
                <h4>{{ bb.content.name }}</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Автор объявления: {{bb.owner_user.username}}</li>
                <li class="list-group-item">Контактный номер: {{ bb.phone }}</li>
                <li class="list-group-item">Дата публикации: {{ bb.published|date:"d.m.Y H:i" }}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>


{% endfor %}
{% endblock %}

