html,
body {
    height: 100%;
}
body{
    min-width: 320px;
    font-family: 'PT-Sans', sans-serif;
}
/* ========================================General rules======================================== */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main {
    flex: 1 1 auto;
}

/* ========================================Header rules======================================== */
.container-header {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-top {
    padding:30px

}

ul.btn-group{
    list-style:none;
}
ul.btn-group li{
    margin-right:40px;
    padding-bottom:20px
}
ul.btn-group a {
    text-decoration: none;
    color: inherit;
}
ul.header-navbar {
    list-style:none;
}
ul.header-navbar li {
    margin-top:5px;
    margin-right:40px;
}
ul.header-navbar a {
    text-decoration: none;
    color: inherit;
}





/* ========================================General rules======================================== */