@import "../node_modules/bootstrap/scss/functions";

html,
body {
    height: 100%;
}
body{
    min-width: 320px;
    font-family: 'PT-Sans', sans-serif;
}
/* ========================================General rules======================================== */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main {
    flex: 1 1 auto;
}

/* ========================================Header rules======================================== */
.container-header {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-top {
    padding:30px
}
ul.btn-group{
    list-style:none;

}
ul.btn-group li{
    margin-right:40px;
    padding-bottom:20px;
}
ul.btn-group a {
    text-decoration: none;
    color: #198754;
}
ul.btn-group a:hover {
    color: #ffffff;
    text-decoration: none;
}
ul.header-navbar {
    list-style:none;
}
ul.header-navbar li {
    margin-top:5px;
    margin-right:40px;
}
ul.header-navbar a {
    text-decoration: none;
    color: inherit;
}



/* ========================================General rules======================================== */

.main_info_page {
    margin-top: 46px;
}
.rubric_title {
    font-size: 18px;
    font-weight: bold;
}
#main_info{
    margin-top: 49px;
}
.card-img-top {
  display: block;
  width: 241px;
  height: 241px;
  object-fit: fill;
  margin: 0 auto;
}

.carousel-inner img {
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
    height: 485px;
}
