{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta lang= "ru" charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="{% static 'bboard/style.css' %}">
    <title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<!-- Шапка сайта -->
	<nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
		<div class="container-fluid">
			<a href="{% url 'index' %}" class="navbar-brad"><img src="{% static 'bboard/wolf.png' %}"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
                    {% if not user.is_authenticated %}
					<li class="nav-item">
						<a href="{% url 'register' %}" class="nav-link">Регистрация</a>
					</li>
                    <li class="nav-item">
						<a href="{% url 'login' %}" class="nav-link">Вход</a>
					</li>
                    {% endif %}
                    {% if user.is_authenticated %}
					<li class="nav-item active">
						<a href="{% url 'add' %}" class="nav-link">Подать объявление</a>
					</li>
                    {% endif %}
				</ul>
                <ul class="adf">
                    {% if user.is_authenticated %}
                        <p>Вы авторизованы как: {{ user.username }}</p>
                    <!--  Ссылка на страницу кабинета  -->
                        <a href="{% url 'exit'%}"> выйти из аккаунта </a>
                    {% endif %}
                </ul>
			</div>
		</div>
	</nav>
	<!-- поисковая строка -->
	<div class="search">
		<div class="container-fluid">
			<div class="row jumbotron">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<form class="search">
					  <input type="text" placeholder="Искать здесь...">
					  <button type="submit"></button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Блок категорий-->
<div class="sticky-block">
	<div class="container-fluid">
		<div class="row text-center padding">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="category-wrap">
				  <h3>Категории</h3>
				  <ul>
					  {% for rubric in rubrics %}
				    <li><a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a></li>
					  {%  endfor %}
				  </ul>
				</div>
			</div>
		</div>
    </div>
</div>

	<section>
        {% block content %}
        {% endblock %}
    </section>
	<!-- Подвал -->
<footer class="page-footer font-small mdb-color pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Название нашей команды: "LittlePaws"</h6>
        <p>Наш проект помощи приютам для животных был
создан для распространения информации о "братьях наших меньших", которые попали в трудную ситуацию и оказались на улице.
            Мы занимаемся распространением информации о животных, находящихся в приютах или на передержке у людей.
            </p>
      </div>
      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <hr class="w-100 clearfix d-md-none">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Полезные ссылки</h6>
        <p>
          <a href="#!">Помощь приютам г.Новокузнецка</a>
        </p>
        <p>
          <a href="https://vk.com/nvkzcotpes">НГОО ОЗБЖ "Кот и Пес", г. Новокузнецк</a>
        </p>
        <p>
          <a href="https://vk.com/club156658408">Приют "Шанс на жизнь"</a>
        </p>
      </div>
      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Контакты</h6>
        <p>
          <i class="fas fa-home mr-3"></i> Новокузнецк, Кемеровская область - Кузбасс, 654084, Россия</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> mercyboxx@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 7 908 942 56 17</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Footer links -->
    <hr>
    <!-- Grid row -->
    <div class="row d-flex align-items-center">
      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">
        <!--Copyright-->
        <p class="text-center text-md-left">© 2023 Copyright:
          <a>
            <strong> СибГИУ</strong>
          </a>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">
        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://vk.com/fluflublabla">
                <i class="fab fa-vk"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.instagram.com/___tatiana_bogretsova___/?hl=ru">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>
<!-- Подвал -->


</body>
</html>
