{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta lang="ru" charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'bboard/style.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<!-- Панель навигации -->
<section>
    <div class="wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container-xxl">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xxl-2">
                            <div class="container-fluid">
                                <a href="{% url 'index' %}" class="navbar-brad">
                                    <img src="{% static 'bboard/logo.svg' %}"></a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xxl-4">
                            <ul class="header-navbar d-flex justify-content-end">
                                <li class="nav-item"><a href="{% url 'index' %}"> Главная </a></li>
                                <li class="nav-item"><a href="#"> Ищут дом </a></li>
                                <li class="nav-item"><a href="#"> О нас </a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xxl-6">
                            <div class="d-flex justify-content-center">
                                <ul class="btn-group">
                                    {% if not user.is_authenticated %}
                                    <li>
                                        <a href="{% url 'register' %}" class="nav-link reg-btn"> Зарегистрироваться </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'login' %}" class="nav-link login-btn"><i
                                                class="fa-solid fa-right-to-bracket"></i> Войти </a>
                                    </li>
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                    <div class="lk-btn-group">
                                        <button type="button" class="nav-link lk-btn"><a
                                                href="{% url 'profile' pk=user.pk %}">Личный Кабинет</a></button>
                                        <button type="button"
                                                class="dropdown-toggle dropdown-toggle-split lk-btn-drop"
                                                data-bs-toggle="dropdown" aria-expanded="false ">
                                            <span class="visually-hidden">Переключатель выпадающего списка</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'exit'%}"> Выйти из аккаунта </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <li><a href="{% url 'add' %}" class="nav-link add-item-btn">Разместить
                                        объявление</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </header>
    </div>
</section>
{% block main %}
{% endblock %}
<!-- Подвал -->
<section id="bottom_info">
    <footer class="page-footer font-small mdb-color pt-4">
        <div class="container-xxl">
            <div class="container text-center text-md-left">
                <!-- Footer links -->
                <div class="row text-center text-md-left mt-3 pb-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Название нашей команды: "LittlePaws"</h6>
                        <p>Наш проект помощи приютам для животных был
                            создан для распространения информации о "братьях наших меньших", которые попали в трудную
                            ситуацию и оказались на улице.
                            Мы занимаемся распространением информации о животных, находящихся в приютах или на
                            передержке у
                            людей.
                        </p>
                    </div>
                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none">

                    <hr class="w-100 clearfix d-md-none">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Полезные ссылки</h6>
                        <p>
                            <a href="https://pet-portal.ru/shelter/stype-charitable-foundation/">Помощь приютам
                                г.Новокузнецка</a>
                        </p>
                        <p>
                            <a href="https://vk.com/nvkzcotpes">НГОО ОЗБЖ "Кот и Пес", г. Новокузнецк</a>
                        </p>
                        <p>
                            <a href="https://vk.com/club156658408">Приют "Шанс на жизнь"</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none">
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Контакты</h6>
                        <p>
                            <i class="fas fa-home mr-3"></i> Новокузнецк, Кемеровская область - Кузбасс, 654084, Россия
                        </p>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> easteregg@RUmbler.рф</p>
                        <p>
                            <i class="fas fa-phone mr-3"></i> + 7 800 555 35 35</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Footer links -->
                <hr>
                <!-- Grid row -->
                <div class="row d-flex align-items-center">
                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8">
                        <!--Copyright-->
                        <p class="text-center text-md-left">© 2024 Copyright:
                            <a>
                                <strong> СибГИУ</strong>
                            </a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-5 col-lg-4 ml-lg-0">
                        <!-- Social buttons -->
                        <div class="text-center text-md-right">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1" href="##">
                                        <i class="fab fa-vk"></i>

                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1" href="##">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </div>
        <!-- Footer Links -->
    </footer>
</section>

</body>
</html>
